In [47]:

import psycopg2


#establishing the connection
conn = psycopg2.connect(
   database='atieh', user='postgres', password='1', host='127.0.0.1', port= '5432'
)
cursor = conn.cursor()

sql ='''
    select count(id), sex from student group by sex;
    
'''
cursor.execute(sql)
result = cursor.fetchall()
print(result)

sql ='''
    select count(id), sex from student group by sex, birth_year having birth_year = 1377;
    
'''
cursor.execute(sql)

result = cursor.fetchall()
print(result)

sql ='''
    select count(code), code_teacher from course group by code_teacher having count(code) > 1;
    
'''
cursor.execute(sql)

result = cursor.fetchall()
print(result)

conn.close()

[(2, '0'), (4, '1')]
[(2, '0'), (1, '1')]
[(2, 14), (2, 13), (2, 12)]

In [65]:

import psycopg2


#establishing the connection
conn = psycopg2.connect(
   database='atieh', user='postgres', password='1', host='127.0.0.1', port= '5432'
)
cursor = conn.cursor()

sql ='''
    select c.code, c.name, c.department, c.time_class, s.id, s.first_name, s.last_name  from course c inner join course_student cs on c.code=cs.code_course
    inner join student s on s.id = cs.id_student order by c.code, s.id;
    
'''
cursor.execute(sql)
result = cursor.fetchall()
for i in result:
    print(i)

conn.close()

(101, 'Database', 'Computer Engineering', 'Sunday 10.45', 8, 'Sina', 'Shokri')
(102, 'IOT', 'Computer Engineering', 'Saturday 10.45', 3, 'Arash', 'Ahmadi')
(103, 'Datamining', 'Computer Engineering', 'Monday 9.15', 4, 'Zahra', 'Zare')
(103, 'Datamining', 'Computer Engineering', 'Monday 9.15', 7, 'Kamran', 'Zare')
(105, 'Network', 'Computer Engineering', 'Monday 9.15', 7, 'Kamran', 'Zare')
(105, 'Network', 'Computer Engineering', 'Monday 9.15', 8, 'Sina', 'Shokri')

In [70]:

import psycopg2


#establishing the connection
conn = psycopg2.connect(
   database='atieh', user='postgres', password='1', host='127.0.0.1', port= '5432'
)
cursor = conn.cursor()

sql ='''
    with inner_query as(
    select c.code, c.name, c.department, c.time_class, s.id, s.first_name, s.last_name  from course c 
    inner join course_student cs on c.code=cs.code_course
    inner join student s on s.id = cs.id_student order by c.code, s.id) 
    select id, first_name, last_name from inner_query 
    group by id, first_name, last_name having count(id) = 1
    
    ;
    
'''
cursor.execute(sql)
result = cursor.fetchall()
for i in result:
    print(i)

conn.close()

(3, 'Arash', 'Ahmadi')
(4, 'Zahra', 'Zare')

In [80]:

import psycopg2


#establishing the connection
conn = psycopg2.connect(
   database='atieh', user='postgres', password='1', host='127.0.0.1', port= '5432'
)
cursor = conn.cursor()

sql ='''
    select distinct c.code, c.name, c.department, c.time_class from course c 
    inner join course_student cs on c.code=cs.code_course
     order by c.code
    ;
    
'''
cursor.execute(sql)
result = cursor.fetchall()
for i in result:
    print(i)
print('-------------------------')
sql ='''
    select distinct c.code, c.name, c.department, c.time_class from course c 
    left join course_student cs on c.code=cs.code_course
    order by c.code
    ;
    
'''
cursor.execute(sql)
result = cursor.fetchall()
for i in result:
    print(i)
    
conn.close()

(101, 'Database', 'Computer Engineering', 'Sunday 10.45')
(102, 'IOT', 'Computer Engineering', 'Saturday 10.45')
(103, 'Datamining', 'Computer Engineering', 'Monday 9.15')
(105, 'Network', 'Computer Engineering', 'Monday 9.15')
-------------------------
(101, 'Database', 'Computer Engineering', 'Sunday 10.45')
(102, 'IOT', 'Computer Engineering', 'Saturday 10.45')
(103, 'Datamining', 'Computer Engineering', 'Monday 9.15')
(105, 'Network', 'Computer Engineering', 'Monday 9.15')
(106, 'AP', 'Computer Engineering', 'Saturday 10.45')
(107, 'Signal', 'Computer Engineering', 'Sunday 10.45')

In [119]:

import psycopg2


#establishing the connection
conn = psycopg2.connect(
   database='atieh', user='postgres', password='1', host='127.0.0.1', port= '5432'
)
cursor = conn.cursor()

sql ='''
    select code, name, department, time_class from course where exists
    (select c.code, c.name, c.department, c.time_class, s.id, s.first_name, s.last_name  from course c 
    right join course_student cs on c.code=cs.code_course
    right join student s on s.id = cs.id_student 
    where c.name is not null  and s.id > all(select s.id where s.first_name = 'Kamran' or 
    s.id < any(select s.id where s.last_name='Shokri'))
    ) and
    time_class like 'Monday%'
    ;
    
'''
cursor.execute(sql)
result = cursor.fetchall()
for i in result:
    print(i)

    
conn.close()

(103, 'Datamining', 'Computer Engineering', 'Monday 9.15')
(105, 'Network', 'Computer Engineering', 'Monday 9.15')

In [98]:

import psycopg2


#establishing the connection
conn = psycopg2.connect(
   database='atieh', user='postgres', password='1', host='127.0.0.1', port= '5432'
)
cursor = conn.cursor()

sql ='''
    select * from course
    ;
    
'''
cursor.execute(sql)
result = cursor.fetchall()
for i in result:
    print(i)

    
conn.close()

(101, 'Database', 'Computer Engineering', 12, 'Sunday 10.45')
(102, 'IOT', 'Computer Engineering', 14, 'Saturday 10.45')
(103, 'Datamining', 'Computer Engineering', 13, 'Monday 9.15')
(107, 'Signal', 'Computer Engineering', 12, 'Sunday 10.45')
(106, 'AP', 'Computer Engineering', 14, 'Saturday 10.45')
(105, 'Network', 'Computer Engineering', 13, 'Monday 9.15')